{
    "config_root": "alice-files",
    "federated_only": true,
    "checksum_public_address": "0x514bA211b94D2F00b5FE66C8D2b18046bFD8f571",
    "keyring_dir": "alice-files/keyring",
    "domains": [
        "GLOBAL_DOMAIN"
    ],
    "learn_on_same_thread": true,
    "abort_on_learning_error": false,
    "start_learning_now": false,
    "save_metadata": true,
    "node_storage": {
        "storage_type": "local",
        "storage_root": "alice-files/known_nodes",
        "metadata_dir": "alice-files/known_nodes/metadata",
        "certificates_dir": "alice-files/known_nodes/certificates"
    }
}