{
    "config_root": "arjun-files",
    "federated_only": true,
    "checksum_public_address": "0xD6dA2067c2F81E77448025dc255463d54f12B3aF",
    "keyring_dir": "arjun-files/keyring",
    "domains": [
        "GLOBAL_DOMAIN"
    ],
    "learn_on_same_thread": true,
    "abort_on_learning_error": false,
    "start_learning_now": false,
    "save_metadata": true,
    "node_storage": {
        "storage_type": "local",
        "storage_root": "arjun-files/known_nodes",
        "metadata_dir": "arjun-files/known_nodes/metadata",
        "certificates_dir": "arjun-files/known_nodes/certificates"
    }
}